.project__quote {
  margin: 100px 0 0 0;
  font-size: 15px;
  line-height: 25px;
  position: relative;
  grid-column: 4;
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.project__quote::before {
  content: '';
  position: absolute;
  top: -100px;
  width: 92px;
  height: 50px;
  background-image: url(../../../images/quote.svg);
}
